<!-- Portfolio section starts here -->
<div class="container" id="portfolio" name="portfolio">
  <br>
  <div class="row">
    <br>
    <br>
    <br>
    <h1 class="center"> hidden hook eaters</h1>
    <hr>
    <br>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <!-- #1 portfolio item -->
      <div class="col-md-6 ">
        <div class="grid  mask">
          <figure>
            <%= image_tag "stripe.png", class: "img-responsive" %>
            <figcaption>
              <h5>PROJECT #1</h5>
              <em>ui/ux design, development</em>
              <a data-toggle="modal" href="#myModal">DETAILS</a>
            </figcaption>
          </figure>
        </div>
      </div>
      <!--
      <div class="container">
        <div class="row"> -->
          <!-- #1 portfolio item -->
                  <!--    <div class="col-md-6 ">
                    <div class="grid  mask">
                      <figure>
                      <img class="img-responsive" src="app/assets/img/portfolio/portfolio-1.jpg" alt="">
                      <figcaption>
                      <h5>PROJECT #1</h5>
                      <em>ui/ux design, development</em>
                      <a data-toggle="modal" href="#myModal">DETAILS</a>
                      </figcaption>
                    </figure>
                  </div>
                </div> -->
                <!-- #1 portfolio item ends -->
                <!-- Modal box for #1 portfolio item -->
                  <!-- <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Project Title #1</h3>
                      </div>
                        <div class="modal-body">
                        <p><img class="img-responsive" src="app/assets/images/portfolio/portfolio-1.jpg" alt=""></p>
                        <p>Your entrance was good, his was better. good morning, oh in case i don't see you, good afternoon, good evening and goodnight. excuse me, i'd like to ass you a few questions. we got no food we got no money and our pets heads are falling off! haaaaaaarry. we're going for a ride on the information super highway. brain freeze. it's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. it's because i'm green isn't it! look at that, it's exactly three seconds before i honk your nose and pull your underwear over your head. we got no food we got no money and our pets heads are falling off! haaaaaaarry.</p>
                        <p><b><a href="http://graphicburger.com/real-estate-booking-ui-kit/" class="btn btn-success">View it live</a></b></p>
                      </div>
                    </div>
                  </div>
                </div>  -->
                <!-- #1 modal ends -->
                <!-- #2 portfolio item -->
                <div class="col-md-6">
                  <div class="grid  mask">
                    <figure>
                     <%= image_tag "drdor.png", class: "img-responsive" %>
                     <figcaption>
                      <h5>PROJECT #2</h5>
                      <em>ui/ux design</em>
                      <a data-toggle="modal" href="#myModal2">DETAILS</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div><!-- #2 portfolio item ends -->
            <!-- Modal box for #2 portfolio item -->
            <!-- <div class="modal  fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Project Title #2</h3>
                  </div>
                  <div class="modal-body">
                    <p><%= image_tag "../assets/bakerteeg.png", class: "img-responsive"%> </p>
                    <p>Text.</p>

                  </div>
                </div>
              </div>
            </div> --><!-- #2 modal ends -->
            <br>
            <!-- #3 portfolio item -->
            <div class="row">
              <div class="col-md-6">
                <div class="grid  mask">
                  <figure>
                    <%= image_tag "teeg.png", class: "img-responsive"%>
                    <figcaption>
                      <h5>PROJECT #3</h5>
                      <em>branding, identity</em>
                      <a data-toggle="modal" href="#">DETAILS</a>
                    </figcaption>
                  </figure>
                </div>
              </div><!-- #3 portfolio item ends -->
              <!-- Modal box for #3 portfolio item -->
             <!--  <div class="modal  fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 class="modal-title">Project Title #3</h3>
                    </div>
                    <div class="modal-body">
                      <p><%= image_tag "portfolio/portfolio-2.jpg", class: "img-responsive"%> </p>
                      <p>Text.</p>

                    </div>
                  </div>
                </div>
              </div> --><!-- #3 modal ends -->
              <!-- #4 portfolio item -->
              <div class="col-md-6">
                <div class="grid  mask">
                  <figure>
                    <%= image_tag "rstripe.png", class: "img-responsive"%>
                    <figcaption>
                      <h5>PROJECT #4</h5>
                      <em>design, full development</em>
                      <a data-toggle="modal" href="#myModal4">DETAILS</a>
                    </figcaption>
                  </figure>
                </div>
              </div><!-- #4 portfolio item ends -->
              <!-- Modal box for #4 portfolio item -->
              <!-- <div class="modal  fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h3 class="modal-title">Project Title #4</h3>
                    </div>
                    <div class="modal-body">
                      <p><%= image_tag "portfolio/portfolio-2.jpg", class: "img-responsive"%> </p>
                      <p></p>

                    </div>
                  </div>
                </div>
              </div> --><!-- #4 modal ends -->
            </div>
            <br>
            <br>
          </div>
        </div><!-- portfolio section ends -->
