<% @products.each do |product| %>

  <!-- #1 Feature section starts here -->
  <div class="feature-wrap  left" name="features">
    <div class="container">
      <div class="row">
        <div class="<%= cycle('left', 'right', name: 'image-rotator') %> col-lg-6 center">
          <%= image_tag(product.image.url, class: 'img-responsive', style: 'margin-bottom:10px;') %>
        </div>
        <div class="col-lg-6 ">
          <h2><%= product.name %></h2> <!-- Title -->
          <p><%= product.description %></p>
          <p>
            <a class="btn btn-primary" data-toggle="modal" data-target="#myModal<%=product.id%>">
              Buy Now
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- modal for feature 1 starts here -->
  <div class="modal fade" id="myModal<%=product.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_tag(product_line_items_path(product)) do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
          </div>
          <div class="modal-body clearfix">
            <div class="col-lg-6  center">
              <%= image_tag(product.image.url, class: 'img-responsive') %>
            </div>
            <div class="col-lg-6 center">
              <ul>
                <% product.colors.each do |option| %>
                  <li>
                    <label>
                      <%= radio_button_tag('colors', option.color, false, id: nil) %>
                      <%= option.color %>
                    </label>
                  </li>
                <% end %>
              </ul>
              <div class="col-xs-2">
                <label>Qty.</label>
                <%= text_field_tag(:quantity, 1, class: 'form-control', id: nil) %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-toolbar pull-right">
              <div class="btn-group btn-group-sm">
                <%= submit_tag('Add To Cart', class: 'btn btn-primary') %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
